
@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h1 class="display-3 fw-semibold">THÔNG TIN HỌC VIÊN</h1>
</div>
<div>
    <label for="Name" class="form-label justify-content-lg-start fs-4">Họ và tên</label>
    <textarea class="form-control text-center fs-5" id="Name" disabled>Lê Nguyên Kiệt</textarea>

    <label for="Birthdate" class="form-label justify-content-lg-start fs-4">Ngày sinh</label>
    <textarea class="form-control text-center fs-5" id="Birthdate" disabled>12/31/2005</textarea>

    <label for="Email" class="form-label justify-content-lg-start fs-4">Email</label>
    <textarea class="form-control text-center fs-5" id="Email" disabled>kevin.nguyen.pokemon@gmail.com</textarea>

    <label for="PhoneNum" class="form-label justify-content-lg-start fs-4">Số điện thoại</label>
    <textarea class="form-control text-center fs-5" id="PhoneNum" disabled>0384560705</textarea>
</div>

